@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkle 3s infinite;
}

.star:nth-child(1) {
  top: 10%;
  left: 10%;
  width: 2px;
  height: 2px;
  animation-delay: 0s;
}

.star:nth-child(2) {
  top: 20%;
  right: 15%;
  width: 3px;
  height: 3px;
  animation-delay: 0.5s;
}

.star:nth-child(3) {
  bottom: 30%;
  left: 20%;
  width: 2px;
  height: 2px;
  animation-delay: 1s;
}

.star:nth-child(4) {
  top: 50%;
  right: 10%;
  width: 2px;
  height: 2px;
  animation-delay: 1.5s;
}

.star:nth-child(5) {
  bottom: 20%;
  right: 30%;
  width: 3px;
  height: 3px;
  animation-delay: 2s;
}

.planet {
  animation: float 6s ease-in-out infinite;
}

.planet:nth-child(2) {
  animation-delay: 2s;
}

.planet:nth-child(3) {
  animation-delay: 4s;
}

